<ion-content class="ion-padding">
  <ion-card *ngIf="user; else emptyState">
    <ion-card-header>
      <ion-card-title>{{ user.firstName }} {{ user.lastName }}</ion-card-title>
      <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Phone</h2>
            <p>{{ user.phone }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Role</h2>
            <p>{{ user.role }}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="user.unitNumber">
          <ion-label>
            <h2>Unit</h2>
            <p>{{ user.blockName }} {{ user.unitNumber }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button expand="block" routerLink="/profile/edit-profile">Edit profile</ion-button>
    </ion-card-content>
  </ion-card>
  <ng-template #emptyState>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No profile loaded</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Sign in to view your profile details.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
