<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Edit profile</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="profileForm" (ngSubmit)="save()" class="form-grid">
        <ion-item fill="outline">
          <ion-label position="stacked">First name</ion-label>
          <ion-input formControlName="firstName"></ion-input>
        </ion-item>
        <ion-item fill="outline">
          <ion-label position="stacked">Last name</ion-label>
          <ion-input formControlName="lastName"></ion-input>
        </ion-item>
        <ion-item fill="outline">
          <ion-label position="stacked">Phone</ion-label>
          <ion-input formControlName="phone"></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="profileForm.invalid">Save changes</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
