.unauthorized {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  ion-icon {
    font-size: 4rem;
    color: var(--ion-color-danger);
  }
}
